# Konfigurasi Bel Sekolah

# Secret key untuk sesi login (disarankan ganti agar lebih aman)
SESSION_SECRET=ganti_dengan_kode_rahasia_anda_disini

# Token Cloudflare Tunnel (Dapatkan dari Zero Trust Dashboard)
TUNNEL_TOKEN=ey............................................
