# Konfigurasi Bel Sekolah

# Secret key untuk sesi login (disarankan ganti agar lebih aman)
SESSION_SECRET=smamuhi12

# Token Cloudflare Tunnel (Dapatkan dari Zero Trust Dashboard)
TUNNEL_TOKEN=eyJhIjoiYzVhMDA5ODM4Y2MyYmZjMWJlYzFhZTE5YzE3ZjI4ZmYiLCJ0IjoiZjAxNjA1NjYtZjA5My00OWVkLWFiMzUtN2I5MWMwYWExOTk2IiwicyI6Ik1UWXdOR0ZpWTJNdFpEazJaQzAwWXpGaUxUaGpOemd0T1RVd04yUTFPV1ZtTkRjdyJ9abc12
